<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akexorcist.localizationapp">

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".simplefragment.SimpleFragmentActivity" />
        <activity android:name=".nestedfragment.NestedFragmentActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".simpleactivity.SimpleActivity" />
        <activity android:name=".customactivity.SimpleCustomActivity" />
        <activity android:name=".stackedactivity.StackedHomeActivity" />
        <activity android:name=".stackedactivity.StackedLanguageChooserActivity" />
        <activity android:name=".preferences.ListPreferencesActivity" />
        <activity
            android:name=".darktheme.DarkThemeActivity"
            android:theme="@style/DayNightTheme" />
        <activity android:name=".hilt.HiltActivity" />
        <activity android:name=".simpledialog.SimpleDialogLanguageChooserActivity" />
        <activity android:name=".simpledialog.SimpleDialogMainActivity" />
        <activity android:name=".dialogwebview.DialogWebViewMainActivity" />
        <activity android:name=".dialogwebview.DialogWebViewSiteActivity" />
        <activity android:name=".broadcast.SimpleBroadcastActivity" />

        <receiver
            android:name=".broadcast.SimpleBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.akexorcist.localizationapp.receiver.action.TO_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
